@model  IEnumerable<IEnumerable<Prosiak.Areas.Books.Book>>

@{
    ViewBag.Title = "Index";
}
@using Prosiak.Areas.Books.Helpers

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
   
             @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "form-inline", role = "form" }))
             {
                <div class="form-group">
                    @Html.Label("Category: ", new { @class = "control-label" })
                    <select class="form-control input-sm" id="bookCategory" name="bookCategory">
                        <option value="All" selected>All</option>
                        @foreach (SelectListItem item in ViewBag.bookCategory)
                        {
                            <option>@item.Text</option>
                        }
                    </select>

                    @Html.TextBox("searchString", null, new { @class = "form-control input-sm", placeholder = "Autor lub tytuł..." })

                    @Html.Label("Number of results: ", new { @class = "control-label" })
                    <select class="form-control input-sm" id="showNum" name="showNum">
                        <option value="All" selected>All</option>
                        @foreach (SelectListItem item in ViewBag.showNum)
                        {
                            <option>@item.Text</option>
                        }
                    </select>
                    <input type="submit" value="Filter" class="btn btn-default btn-sm" />
                </div>
             }
</p> 
<p>
   
        @for (int i = 1; i <= Model.ToList().Count(); i++)
        {
            @Html.ActionLink(i.ToString(), "", new { resPage = i, showNum = ViewBag.selectedShowNum });
        }
    
</p>
<table class="table">
    <tr>
        <!--th /-->
        <th><!-- I am not proud of this... -->
            @Html.DisplayNameFor(model => (model.First()).First().Title) 
        </th>
        <th>
            @Html.DisplayNameFor(model => (model.First()).First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => (model.First()).First().Category)
        </th>
        <th />
        <th />
    </tr>


@foreach (var item in (Model.ToArray())[(int)ViewBag.resPage]){
    
//foreach (var item in group) {
    <tr>
        <!--this is where Eye Candy happens-->
        <!--and by Eye I mean 403 errors and by Candy I mean horrible lag-->
        @*<th>
            @if (!string.IsNullOrEmpty(item.Isbn))
            {
                
                <img src="@Html.GetThumbnailFromISBN(item.Isbn as string)" />
            }
        </th>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
        <td>
                @if (string.IsNullOrEmpty(item.Reader)){   
                using (Html.BeginForm(new { Bookid = item.ID, Return = 0 }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Borrow" class="btn btn-default btn-sm" />
                }
                }
                else if (item.Reader == User.Identity.Name)
                {
                    using (Html.BeginForm(new { Bookid = item.ID, Return = 1 }))
                    {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Return" class="btn btn-default btn-sm" />
                    }
                }
                else
                {
                    <p>Wypożyczone przez: <strong>@item.Reader</strong></p>
                }
        </td>

    </tr>
    
    
//}
}

</table>